<header>
  <div class="wrapper">
    <nav class="logo" routerLink = "/">
      English learn
    </nav>
    <nav  class="menu">
      <ul>
        <li routerLink = "about">
          Haqqımızda
        </li>
        <li routerLink = "topics">
          Mövzular
        </li>
        <li routerLink = "dictionaries">
          Lüğət
        </li>
        <li routerLink = "tests">
          Testlər
        </li>
        <li routerLink = "reads">
          Sərbəst oxu
        </li>
      </ul>
    </nav>
  </div>
</header>





<router-outlet></router-outlet>
